<div class="text-center flex flex-col justify-center my-5">
    <h1 class="font-bold">السلام علیکم ورحمت الله وبرکاته</h1>
    <br><br>
    <p>دااپلیکیشن د حضرت محمد ص حدیثونو ته د اسانه لاسرسی او خپرولو په موخه جوړ سوی نو خدای تعالی دی وکی چی 
        دا اپلیکیشن ستاسو سره د حدیثونو په ویلو، پیدا کولو او په اسانی سره لاسرسی کولو کی کومک وکړی
    </p>
    <br><br>
    <p>زما مکمل نو عبدالنافع احساس دی او فکر کوم دونده تعریف بسنه کوی ځکه دا اپلیکیشن ما د ځان د شهرت لپاره ندی جوړ
        کړی، یواځینی هدف د حضرت محمد ص احادیث تر خلګو رسول دی
    </p>

    <h4>مننه</h4>
    <br><br>

    <h2>درود پر خوږ نبی حضرت محمد (ص)</h2>
</div>