<nav class="bg-white shadow">
    <div class="w-full mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button hlmBtn class="inline-flex items-center justify-center p-2 rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none
                 focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500"
                    aria-controls="mobile-menu" aria-expanded="false" (click)="toggler()" [brnMenuTriggerFor]="menu">
                    <span class="sr-only">Open main menu</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
            </div>
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-shrink-0">
                    <h1 class="text-2xl font-bold text-gray-800">Hadith</h1>
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <a href="#" routerLink="app-home"
                            class="text-gray-500 hover:bg-gray-100 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium">Home</a>
                        <a href="#"
                            class="text-gray-500 hover:bg-gray-100 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium">Sirat</a>
                        <a href="#" routerLink="all-hadith"
                            class="text-gray-500 hover:bg-gray-100 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium" >All
                            Hadith</a>
                        <a href="#"
                            class="text-gray-500 hover:bg-gray-100 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium">Narrators</a>
                        <a href="#"
                            class="text-gray-500 hover:bg-gray-100 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium">About us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #menu>
        <hlm-menu class="w-56">
            <hlm-menu-label>Menu</hlm-menu-label>
            <hlm-menu-separator/>
            <hlm-menu-group>
                <button hlmMenuItem>
                    <a href="#" routerLink="app-home"
                        class="text-gray-500 hover:bg-gray-100 hover:text-gray-700 block px-3 py-2 rounded-md text-base font-medium">Home</a>
                </button>
                <button hlmMenuItem>
                    <a href="#" 
                        class="text-gray-500 hover:bg-gray-100 hover:text-gray-700 block px-3 py-2 rounded-md text-base font-medium">Sirat</a>
                </button>
                <button hlmMenuItem>
                    <a href="#" routerLink="all-hadith"
                        class="text-gray-500 hover:bg-gray-100 hover:text-gray-700 block px-3 py-2 rounded-md text-base font-medium">All
                        Hadith</a>
                </button>
                <button hlmMenuItem>
                    <a href="#" routerLink="app-narrators"
                        class="text-gray-500 hover:bg-gray-100 hover:text-gray-700 block px-3 py-2 rounded-md text-base font-medium">Narrators</a>
                </button>
                <button hlmMenuItem>
                    <a href="#"
                        class="text-gray-500 hover:bg-gray-100 hover:text-gray-700 block px-3 py-2 rounded-md text-base font-medium">About
                        us</a>
                </button>
            </hlm-menu-group>
        </hlm-menu>
    </ng-template>
</nav>